body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  height: 100vh;
}

.form-style {
  padding: 5px;
}

.button-like {
  display: inline-block;
  padding: 0.4em 1em;
  background-color: #007bff;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  margin-left: 5px;
}

.button-like:hover {
  background-color: #0069d9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 99%;
  height: 50px;
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  color: aliceblue;
  justify-content: space-between;
  background-color: #333;
  height: 50px;
  padding: 0 20px;
  text-decoration: none;
  padding: 10px;
}

.header {
  padding-left: 15px;
}
